<div class="post">
  <div class="post__header">
    <%= image_tag item.user.avatar.url(:thumb), class:"rounded-circle mr-3" %>
    <%= link_to item.user.username,users_profile_path(item.user.username)%>
  </div>
  <div class="post__photo">
    <% if show_link %>
      <%= link_to posts_show_path(item.id) do %>
      <%= image_tag item.photo.url(:medium) %>
      <% end %>
    <% else %>
      <%= image_tag item.photo.url(:medium) %>
    <% end %>
  </div>
  <div class="post__body">
    <div class="post__description">
      <%= item.description %>
    </div>
    <div class="post__published">
      <%= time_ago_in_words item.created_at %>
    </div>
  </div>
</div>