<div class="post" data-id="<%= item.id %>">
  <div class="post__header">
    <%= image_tag item.user.avatar.url(:thumb), class:"rounded-circle mr-3" %>
    <%= link_to item.user.username,users_profile_path(item.user.username)%>
  </div>
  <div class="post__photo">
    <% if show_link %>
      <%= link_to posts_show_path(item.id) do %>
      <%= image_tag item.photo.url(:medium) %>
      <% end %>
    <% else %>
      <%= image_tag item.photo.url(:medium) %>
    <% end %>
  </div>
  <div class="post__body">
    <div class="post__description">
      <%= item.description %>
    </div>
    <div class="post__comments">
      <% item.comments.each do |comment| %>
        <%= render partial: 'comments/comment', locals: { comment: comment } %>
      <% end %>
    </div>
    <div class="post__published">
      <%= time_ago_in_words item.created_at %>
    </div>
    <% if user_signed_in? %>
      <div class="comment__form">
      <%= form_with(model: Comment.new, url: comments_path(item.id)) do |f| %>
        <%= f.text_field :text, placeholder: 'Add comment' %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>